<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoUpdate</key>
	<string>0</string>
	<key>normalModeFirst</key>
	<string>1</string>
	<key>track_index</key>
	<string>0</string>
	<key>exploit_index</key>
	<string>0</string>
	<key>downgradeBB</key>
	<string>0</string>
	<key>nightlyHash</key>
	<string></string>
	<key>resetreq</key>
	<string>1</string>
	<key>iPad64Size</key>
	<string>2443546142</string>
	<key>iPad3,6Size</key>
	<string>1845205928</string>
	<key>iPad3,5Size</key>
	<string>1842909590</string>
	<key>iPad3,4Size</key>
	<string>1802659950</string>
	<key>iPhone5,2Size</key>
	<string>1656563298</string>
	<key>iPhone5,1Size</key>
	<string>1657778104</string>
	<key>iPhone64Size</key>
	<string>2541278062</string>
	<key>destinationFW</key>
	<string></string>
	<key>32iPSWLoc</key>
	<string></string>
	<key>skipCheck</key>
	<string>0</string>
	<key>DebugEnabled</key>
	<string>0</string>
	<key>RestoreLog</key>
	<integer>0</integer>
</dict>
</plist>
